/* Importar fuente Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* General */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    /* Fondo suave y neutro */
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

 /* Estilos CSS */
 body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    transform-origin: top left;

}

.resaltado {
    background-color: yellow;
    /* Color de fondo para el resaltado */
    font-weight: bold;
    /* Opcional: para hacer el texto más visible */
    color: black;
    /* Color del texto para asegurar visibilidad */
}


.scroll-button {
    position: fixed;
    right: 20px;
    z-index: 1000;
    background-color: #004d40;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    margin: 2px;
}

.scroll-up {
    top: 60%;
    /* Cambiado de 45% a 60% */
}

.scroll-down {
    top: 70%;
    /* Cambiado de 55% a 70% */
}

#resultadoTexto {
    margin-top: 10px;
    margin-left: 20px;
    /* Ajusta este valor para moverlo más a la izquierda */
    /* También puedes considerar otros estilos como font-size o color si lo deseas */
}

.scroll-button {
    position: fixed;
    right: 20px;
    z-index: 1000;
    background-color: #004d40;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    margin: 2px;
}

.scroll-up {
    top: 45%;
}

.scroll-down {
    top: 55%;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #004d40;
    color: white;
}

.logo {
    max-width: 260px;
    margin-bottom: 10px;
}

.buscador {
    display: flex;
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
}

.file-label {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.file-label:hover {
    background-color: #45a049;
}

.buscador input[type="file"] {
    display: none;
}

.buscador input[type="text"] {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}

.buscador button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.buscador button:hover {
    background-color: #45a049;
}

.resultado-info {
    margin: 20px;
    font-size: 18px;
}

.highlight {
    background-color: yellow;
}

.no-resultados {
    color: red;
    font-size: 18px;
    text-align: center;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

.actions {
    text-align: left;
    margin: 20px;
}

#btnAgregar,
#btnImprimir {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
    width: 220px;
}

#btnAgregar:hover,
#btnImprimir:hover {
    background-color: #45a049;
    width: 220px;

}

/* Estilos para botones */
.btnEditar {
    background-color: #0e18bb;
    /* Azul */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.btnEliminar {
    background-color: #e60c0c;
    /* Rojo */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.btnEditar:hover {
    background-color: darkblue;
    /* Azul oscuro al pasar el mouse */
}

.btnEliminar:hover {
    background-color: darkred;
    /* Rojo oscuro al pasar el mouse */
}

/* Estilos generales para los botones */
button {
    padding: 8px 15px;
    margin-right: 5px;
    background-color: #4CAF50;
    /* Verde Promerica */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

/* Cambiar color al pasar el ratón por encima */
button:hover {
    background-color: #45a049;
    /* Color más claro al hacer hover */
}

/* Estilo para el botón Eliminar con un color diferente */
button.eliminar {
    background-color: #f44336;
    /* Rojo para el botón Eliminar */
}

button.eliminar:hover {
    background-color: #d32f2f;
    /* Rojo más oscuro al hacer hover */
}

/* Estilos para la tabla */
.table-results {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-results th,
.table-results td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-results th {
    background-color: #4CAF50;
    color: white;
}

.table-results td {
    background-color: #f2f2f2;
}

/* Encabezado */
.header {
    background-color: #004d40;
    /* Verde oscuro moderno */
    color: #ffffff;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid #00796b;
    /* Línea verde más clara */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header .logo {
    width: 200px;
    height: auto;

}

.header h1 {
    font-size: 2.9rem;
    margin: 0;
    font-weight: 700;
    text-align: center;
    flex-grow: 2;
    margin-right: 5rem;
}

/* Tabla de Resultados */
.table-results {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-results th,
.table-results td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 1em;
}

.table-results th {
    background-color: #004d40;
    /* Verde oscuro */
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.table-results tr:nth-child(even) {
    background-color: #f1f1f1;
    /* Fondo gris claro */
}

.table-results tr:hover {
    background-color: #e0f2f1;
    /* Fondo verde claro */
}

#seccionComentarios {
    margin: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

#comentario {
    width: 100%;
    padding: 5px;
    font-size: 17px;
}

#btnEnviarComentario {
    margin-top: 10px;
    background-color: #4CAF50; /* Color verde */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#btnEnviarComentario:hover {
    background-color: #45a049; /* Color verde más oscuro */
}

#listaComentarios {
    margin-top: 15px;
    font-size: 19px;
}

button {
    margin-left: 10px;
    background-color: #f44336; /* Color rojo */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #8b0200; /* Color rojo más oscuro */
}


